* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("stars.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  margin: 20px auto;
  font-family: Lato;
  font-weight: 300;
}

form {
  padding: 15px 25px;
  display: flex;
  gap: 10px;
  justify-content: center;
}

form label {
  font-size: 1.5rem;
  font-weight: bold;
}

input {
  font-family: "Lato";
}

a {
  color: #0000ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#wrapper,
#loginform {
  margin: 0 auto;
  padding-bottom: 25px;
  background: #eee;
  width: 600px;
  max-width: 100%;
  border: 2px solid #212121;
  border-radius: 4px;
}

#loginform {
  padding-top: 18px;
  text-align: center;
}

#loginform p {
  padding: 15px 25px;
  font-size: 1.4rem;
  font-weight: bold;
}

#chatbox {
  text-align: left;
  margin: 0 auto;
  margin-bottom: 25px;
  padding: 10px;
  background: rgb(255, 255, 255); /* chat box background color */

  height: 300px;
  width: 530px;
  border: 1px solid #a7a7a7;
  overflow: auto;
  border-radius: 4px;
  border-bottom: 4px solid #a7a7a7;
}

#usermsg {
  flex: 1;
  border-radius: 4px;
  border: 1px solid #00ffaada; /* USER TEXT BOX BORDER COLOR */
  -webkit-box-shadow: inset 0 0 15px #000011;
  -moz-box-shadow: inset 0 0 15px #000011;
  box-shadow: inset 0 0 10px #000011;
}

#name {
  border-radius: 4px;
  border: 1px solid #00ffaada; /* TEXT BOX BORDER COLOR FOR NAME */
  -webkit-box-shadow: inset 0 0 15px #000011;
  -moz-box-shadow: inset 0 0 15px #000011;
  box-shadow: inset 0 0 10px #000011;
  padding: 2px 8px;
}

#submitmsg,
#enter {
  background: #ff00ff; /* send button background */
  border: 2px solid #ff00f2; /* border for send button */
  color: white;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 4px;
}

.error {
  color: #ff0000;
}

#menu {
  padding: 15px 25px;
  display: flex;
}

#menu p.welcome {
  flex: 1;
}

a#exit {
  color: rgb(255, 255, 255); /* text inside of exit button box */
  background: #be1818; /* exit button color */
  padding: 6px 10px;
  border-radius: 4px;
  font-weight: bold;
}

.msgln {
  margin: 0 0 5px 0;
}

.msgln span.left-info {
  color: rgb(255, 94, 0); /* TEXT COLOR FOR "USER HAS LEFT" */
}

.msgln span.chat-time {
  color: #666;
  font-size: 60%;
  vertical-align: super;
}

.msgln b.user-name,
.msgln b.user-name-left {
  font-weight: bold;
  background: #546e7a;
  color: rgb(6, 235, 252); /* USERNAME COLOR For "USER HAS LEFT" */
  padding: 2px 4px;
  font-size: 90%;
  border-radius: 4px;
  margin: 0 5px 0 0;
}

.msgln b.user-name-left {
  background: rgb(211, 48, 20); /* "USER HAS LEFT" Name Box color */
}

#info {
  font-family: "Brush Script MT";
  font-size: 60px;
  text-align: center;
  color: forestgreen;
}
